ion-content{
    --background:#f0f4fe;
}
.devBAckButton {
    margin-top: 40px;
  }
.hide{
    display: none;
} 
  .devBAckButton img {
    object-fit: cover;
    width: 100%;
    max-width: 30px;
    image-rendering: -webkit-optimize-contrast;
  }
  .devTitle{
      padding: 15px;
      h1{
          font-size: 22px;
          margin: 0;
          font-weight: bold;
      }
  }
  .devBanner {
    text-align: center;
    img{
        max-width: 300px;
        width: 100%;
    }
}
button.devBtn{
    width: 100% !important;
    padding: 15px 0 !important;
    font-size: 12px !important;
    background: black !important;
    color: white !important;
    border-radius: 10px !important;
}
.devSearch {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
    
}
.devSearchBar {
    width: 85%;
    position: relative;
    ion-searchbar{
        padding: 0;
        padding-right: 10px;
        color: transparent !important;
    }
    .devCalender {
        position: absolute;
        top: 3px;
        left: 9px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.devDateinput{
    position: absolute;
    left: 29px;
    max-width: 161px;
    width: 100%;
    input{
        width: 100%;
        border: 0;
        display: flex;
        flex-direction: row-reverse;
    }
}
.devBtn {
    width: 15%;
    text-align: center;
    ion-icon{
        font-size: 40px;
    }
}

.devReports{
   
    margin-top: 15px;
    ion-segment-button {
        --indicator-color: transparent !important;
        --indicator-color-checked: transparent !important;
        
        --color-checked: #fa5805;
        ion-label{
            font-weight: bold;
        }
        .segment-button-checked{
            border-top: 2px solid;
        border-color:#fa5805 ;
        }

      
      }
      .segment-button-checked{
        border-top: 3px solid;
    border-color:#fa5805 ;
    }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }
}


.january{
    padding: 15px;
    padding-top: 0;
.repotdetail{
    margin: 0;
    margin-top: 10px;
     padding: 15px;
     border-radius: 10px;
     position: relative;
     .reportcontent{
      width: 85%;
     }
      h3{
          font-size: 18px;
         font-weight: 600;
         color: black;
          margin-top: 10px;
     } 
     p{
      font-size: 14px;
     }
     .devreporttime{
      display: flex;
      align-items: center;
      ion-icon{
          font-size: 22px;
          
      }
  }
  
  .deviconforword{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      color: #fa5805;
  }
  
  }

}
.devProfileCard {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.devProfileName {
    width: 70%;
    padding-left: 12px;
    
}
.devProfileImg {
    width: 12%;
}
.devProfileName {
    width: 70%;
    padding-left: 12px;
    color: black;
    h1{
        margin: 0;
        font-size: 17px;
    }
    p{
        margin: 0;
    }
}
.spinner{
    margin-top: 10vh;
    justify-content: center;
}