<ion-content>

  <div class="devBAckButton" style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
  </div>

  <div class="devReportDetailMain">
    <div class="devreportContent">
        <div class="devProfile">
          <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
          <h1>{{dataHelper.allAdminEmployees[dataHelper.reportDetail.userUid].FullName}}</h1>
          <p>{{dataHelper.allAdminEmployees[dataHelper.reportDetail.userUid].Skills}}</p>
        </div>
      <h1>{{ dataHelper.reportDetail.title}}</h1>
      <div class="devDescription">
        <h3></h3>

        <p>{{ dataHelper.reportDetail.description}}</p>
      </div>
      <div class="devFeedback">
        <h3>Feedback</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s,
         <!-- {{ data.feedback }} -->
          </p>
      </div>
      <div class="devreporttime">
        <ion-icon name="time-outline"></ion-icon>
        <p>{{ dataHelper.reportDetail.timeStamp |  date : 'dd-MM-yyyy hh:mm a'}}</p>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>
  <form [formGroup]="feedback" (ngSubmit)="Feedback(feedback.value)" >
  <ion-row style="display: flex;
  align-items: center;"> 
    <ion-input type="text" placeholder="Feedback" formControlName="feedback" ></ion-input>
    <ion-button type="submit"> <ion-icon name="send"  ></ion-icon></ion-button>
    </ion-row>

  </form>
</ion-footer>