<ion-content>

  <div class="devBAckButton" style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
  </div>

  <div class="devReportDetailMain">
    <div class="devreportContent">
        <ion-row style="justify-content: center;">
          <div class="devProfile">
            <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
            <h1 style="text-align:center;">{{dataHelper.allAdminEmployees[dataHelper.reportDetail.userUid].FullName}}</h1>
            <p style="text-align:center ;">{{dataHelper.allAdminEmployees[dataHelper.reportDetail.userUid].Skills}}</p>
          </div>
        </ion-row>
      <h1>{{ dataHelper.reportDetail.title}}</h1>
      <div class="devDescription">
        <h3></h3>

        <p>{{ dataHelper.reportDetail.description}}</p>
      </div>
      <!-- <div class="devFeedBack">
        <h3 *ngIf="this.dataHelper.reportDetail.feedback">Feedback</h3>
        <p *ngIf="this.dataHelper.reportDetail.feedback" >
         {{this.dataHelper.reportDetail.feedback.feedback}}
          </p>
      </div> -->
      <div class="devreporttime">
        <ion-icon name="time-outline"></ion-icon>
        <p>{{ dataHelper.reportDetail.timeStamp |  date : 'dd-MM-yyyy hh:mm a'}}</p>
      </div>
    </div>
  </div>
  <div class="devFeedBack">
    <h3 *ngIf="this.dataHelper.reportDetail.feedback">Feedback</h3>
    <p *ngIf="this.dataHelper.reportDetail.feedback" >
     {{this.dataHelper.reportDetail.feedback.feedback}}
     <span>{{ dataHelper.reportDetail.feedback.timeStamp | date : 'dd-MM-yyyy hh:mm a'}}</span>
      </p>
     
  </div>
</ion-content>


<ion-footer *ngIf="!this.dataHelper.reportDetail.feedback" class="ion-no-border">
  <form [formGroup]="fb" (ngSubmit)="Feedback(fb.value)" >
  <ion-row > 
    <ion-input type="text" placeholder="Feedback" formControlName="feedback" ></ion-input>
    <ion-button type="submit" [disabled]="!fb.valid"> <ion-icon name="send"  ></ion-icon></ion-button>
    </ion-row>

  </form>
</ion-footer>