



<ion-content>
  <div class="devBAckButton" style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/back.png" alt="">
  </div>
  <div class="devTitle">
    <h1>Leave Forms</h1>
  </div>
  <div class="devBanner">
    <img src="../../assets/userleaveform.png" alt="">
  </div>

  <div class="devform" >
    <ion-label>Title</ion-label>
    <ion-item>
      
      <ion-input placeholder="Seoi home layout"></ion-input>
    </ion-item>
    <ion-label >Description</ion-label>
    <ion-item>
      
      <ion-input placeholder="Seoi home layout home layout "></ion-input>
    </ion-item>
  </div>
  
<div class="devcreatebtn">
  <button  class="devBtn" type="submit" style="background-color: #0000;" (click)="dashboard()">Create</button>
</div>

</ion-content>


