



<ion-content>
  <div class="devBAckButton" style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
  </div>
  <div class="devTitle">
    <h1>Leave Forms</h1>
  </div>
  <div class="devBanner">
    <img src="../../assets/LogIn team/main user screen2/leaveform.png" alt="">
  </div>
  <form [formGroup]="addLeave" (ngSubmit)="addUserLeave(addLeave.value)"  >
  <div class="devform" >
    <ion-label>Title</ion-label>
    <ion-item>
      
      <ion-input  formControlName="title" placeholder="Leave title here..."></ion-input>
    </ion-item>
    <p class="errorMsg" *ngIf="addLeave.get('title').hasError('required')  && 
      (addLeave.get('title').dirty || addLeave.get('title').touched)">
                *Title is Required
              </p>
    <ion-label >Description</ion-label>
    <ion-item>

      <ion-textarea  autoGrow="true" rows="1" formControlName="description"  placeholder="Leave description here..."></ion-textarea>
    </ion-item>
    <p class="errorMsg" *ngIf="addLeave.get('description').hasError('required')  && 
      (addLeave.get('description').dirty || addLeave.get('description').touched)">
                *Description is Required
              </p>

              <ion-item lines="none" class="ion-no-padding">
                <ion-label position="floating" class="required" mode="md"> Date to Leave</ion-label>
                <!-- <ion-input type="text" 
                  placeholder="Joining Date" formControlName="Date"></ion-input> -->
                  <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2052-12-09" formControlName="Date"></ion-datetime>

              </ion-item>
              <p class="errorMsg" *ngIf="addLeave.get('Date').hasError('required')  && 
              (addLeave.get('Date').dirty || addLeave.get('Date').touched)">
                        *Date is Required
                      </p>
  </div>
  
<div class="devcreatebtn">
  <ion-button [disabled]="!addLeave.valid"  type="submit" color="dark" expand="block" >Create</ion-button>
</div>
  </form>
</ion-content>


