// :root {
//     --ion-color-favorite: #e36afb;
//     --ion-color-favorite-rgb: 227,106,251;
//     --ion-color-favorite-contrast: #000000;
//     --ion-color-favorite-contrast-rgb: 0,0,0;
//     --ion-color-favorite-shade: #c85ddd;
//     --ion-color-favorite-tint: #e679fb;
//   }
.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite , #fa5805);
    --ion-color-base-rgb: var(--ion-color-favorite-rgb , #fa5805);
    --ion-color-contrast: var(--ion-color-favorite-contrast , #ffff);
    --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb, #fa5805);
    --ion-color-shade: var(--ion-color-favorite-shade, #fa5805);
    --ion-color-tint: var(--ion-color-favorite-tint, #fa5805);
  }


ion-content{
--background: black;
}
.devimage{
    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.devformlogin {
    padding-bottom: 40px;
    
    
    
    h1{
        font-size: 41px;
        font-weight: 600;
    }
  ion-input {
        color: white;
    }
    ion-item {
        border-bottom: 2px solid;
        border-color: white;
        --background: transparent;
    }
}
.devbutton{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    ion-button{
        width: 100%;
        
        ion-icon{
    color: white;
        }
    }
   
}

.devcontent{
position:absolute;
  
top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    padding: 20px;
}
@media screen and (min-width: 550px) {
    .devformlogin{
        max-width: 400px !important;
        width: 100% !important;
        margin: 0 auto;
    }
  
    .devbutton{
        max-width: 400px !important;
        width: 100% !important;
        margin: 0 auto;
    }
  }
.devformlogin{
    ion-item{
  ion-input{
    input::placeholder {
    color:white!important;
    font-size: 20px;
    
    }
  }
}
}