ion-content {
  --background: #f4f8fc;
}
.devmain {
  border-radius: 0 0 50px 50px;
  background: #f0f4fe;
}
.devBAckButton {
  padding-top: 40px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    object-fit: cover;
    width: 100%;
    max-width: 30px;
    image-rendering: -webkit-optimize-contrast;
  }
}

.devProfileData {
  text-align: center;
  img{
    max-width: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
  }

  h1 {
    font-weight: 600;
    margin: auto;
    margin-top: 10px;
  }
  p {
    margin: 0;
  }
}

.devProfileDetail{
  padding: 15px;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  
 h3{
  font-weight: bold;
  font-size: 18px;
 }
 p{
     font-size: 14px;
 }
  .devEmail{
   display: flex;
  align-items: center;
  justify-content: space-between;
  }
  

  .devJoinigDate{
      display: flex;
      align-items: center;
      justify-content: space-between;

  }
  
  .devPhone{
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

}

button.devBtn{
    width: 100% !important;
    padding: 15px 0 !important;
    font-size: 20px !important;
    background: black !important;
    color: white !important;
    border-radius: 15px !important;
}

.devLogoutButton{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 15px;
}