
<ion-content>
  <div class="devmain">
  <div class="devBAckButton"  style="padding:0 15px ;">
    <div class="devheader">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
       
    </div>
    <p (click)="update()" style="color: blue;">Edit Profile</p>
  </div>

  <div class="devProfileData" (click)="choosePhoto()">
    <!-- <img src="{{../../assets/LogIn team/admin Leave forms/Ellipse 12.png}}" alt="" > -->
    <img src="{{ photo }}" alt="" >
    <h1>{{dataHelper.user.FullName}}</h1>
    <p>{{dataHelper.user.Skills}}</p>
  </div>

  <div class="devProfileDetail">
    <div class="devEmail">
     <h3>Email</h3>
     <p>{{dataHelper.user.Email}}</p>
    </div>
    <div class="devJoinigDate">
     <h3>Joining Date</h3>
     <p>{{dataHelper.user.Date | date : 'dd-MM-yyyy'}}</p>
    </div>
    <div class="devPhone">
       <h3>Phone</h3>
       <p>{{dataHelper.user.Phone}}</p>
    </div>
  </div>
</div>

<div class="devLogoutButton" (click)="logout()">
  <ion-button  class="devBtn" type="submit" color="dark" expand="block" >Logout</ion-button>
</div>
</ion-content>
