<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>


    <div class="devAvatarimg" slot="start">
      <img [src]="recipient?.profileUrl || './assets/LogIn team/admin report detail/Ellipse 15.png'" alt="">
    </div>
    <ion-label (click)="gotochat()" class="font">
      <b>
        <p style="font-size: 18px; margin-left: 5px; white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;">
          {{recipient?.FullName}}({{recipient?.Skills}})

      </b>


    </ion-label>

    <ion-icon (click)="notifications($event)" class="popover" slot="end" style="zoom:1.5"
      name="ellipsis-vertical-outline"></ion-icon>



  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="devMain">
    <div class="imessage">
      <p *ngFor="let chat of chats" [class.from-them]="chat.senderId!=user.uid" [class.from-me]="chat.senderId==user.uid">
        {{chat.message}} <span style="font-size: 10px;">{{chat.timestamp | date : 'hh:mm a'}}</span> </p>
        
        
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" style="display: flex;">
  <div class="footer">
    <ion-icon style="font-size: 30px; padding-left: 10px;" name="document-outline"></ion-icon>
    <ion-input placeholder="Message" [(ngModel)]="newMessage.message"></ion-input>
    <ion-icon style="font-size: 30px; padding-right: 10px;" name="navigate-outline" (click)="sendMessage()"></ion-icon>

  </div>

</ion-footer>