<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div class="devimage" style="position: relative;">
<img src="../../assets/LogIn team/login/login.png" alt="">
</div>
<div class="devcontent">
<div class="devformlogin" >
  <h1 style="color: white;">Login</h1>
  <ion-item >
  <ion-input placeholder="Username"></ion-input>
  <ion-icon slot="end" style="color: white;" name="person-outline"></ion-icon>
</ion-item>
<ion-item >
  <ion-input placeholder="Password"></ion-input>
  <ion-icon slot="end" style="color: white;" name="lock-closed-outline"></ion-icon>
  
</ion-item>
</div>

<div class="devbutton">
  <ion-button (click)="dashboard()" color="favorite" expand="block">Login</ion-button>
</div>
</div>
</ion-content>
