<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons *ngIf="!isSearchbarOpened" slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title *ngIf="!isSearchbarOpened">Chats
    </ion-title>
    <div>
      <ion-searchbar  *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" ></ion-searchbar>
      
    </div>
    
      <ion-buttons slot="end">
        
        <ion-button *ngIf="!isSearchbarOpened"  (click)="isSearchbarOpened=true" >
          
          <ion-icon slot="end" style="zoom:1.3; " name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
 
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="devMain">
 
  <div   class="repotdetail">
    <div (click)="gotoadminChat()" class="devProfileCard">
      <div  class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
  </div>

</div>
<ion-fab routerLink="/userallcontacts" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="fab2">
    <ion-icon  name="chatbox"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>

