
ion-content{
    --background:#f0f4fe;

.devBAckButton {
    margin-top: 40px;
     img {
        object-fit: cover;
        width: 100%;
        max-width: 30px;
        image-rendering: -webkit-optimize-contrast;
      }
  }

.devReportDetailMain{
    padding: 15px;
  .devreportContent{

    border-radius: 25px;
   background: white;
   padding: 20px 15px;
   height: 100vh;
   h1{
       font-weight: bold;
       font-size: 23px;
   }
   p{
       color: #948198;
       margin-top: 0;
   }
    h3{
        font-weight: bold;
        margin-bottom: 0;
        font-size: 18px;
    }

    .devreporttime{
        display: flex;
        align-items: center;
        p{
            color: black;
            margin: 0;
        }
        ion-icon{
            font-size: 22px;
            
        }
    }
  }
}




}
 