.devBAckButton {
    margin-top: 40px;
  }
 
  .devBAckButton img {
    object-fit: cover;
    width: 100%;
    max-width: 30px;
    image-rendering: -webkit-optimize-contrast;
  }
  .devTitle{
      padding: 15px;
      h1{
          font-size: 22px;
          margin: 0;
      }
  }
  .devBanner {
    text-align: center;
    img{
        max-width: 300px;
        width: 100%;
    }
}
button.devBtn{
    width: 100% !important;
    padding: 15px 0 !important;
    font-size: 12px !important;
    background: black !important;
    color: white !important;
    border-radius: 10px !important;
}
.devSearch {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
}
.devSearchBar {
    width: 70%;
    ion-searchbar{
        padding: 0;
        padding-right: 10px;
    }
    .devCalender {
        position: absolute;
        top: 3px;
        left: 9px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.devBtn {
    width: 30%;
    ion-button{
        font-size: 11px;
    }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.devScrollable {
    margin-top: 15px;
    ion-segment-button {
        --indicator-color: transparent !important;
        --indicator-color-checked: transparent !important;
      }
      .segment-button-checked {
        color: #fa965b !important;
        border-color: #fa965b !important;
        border-top: 3px solid;
    }
    ion-label{
        font-weight: bold;
        text-transform: capitalize;
        font-size: 17px;
        margin-top: 5px;
    }
}
.devProfileCard {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 0 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.devProfileName {
    width: 70%;
    padding-left: 12px;
}
.devProfileImg {
    width: 15%;
}
.devProfileName {
    width: 70%;
    padding-left: 12px;
    h1{
        margin: 0;
        font-size: 17px;
    }
    p{
        margin: 0;
    }
}
.devArrowIcon {
    width: 15%;
    text-align: end;
    ion-icon{
     font-size: 30px;
    color: #fa965b;
    }
}



@media screen and (max-width: 350px) {
    button.devBtn{
        font-size: 10px !important;
    }
}