
<ion-content style="--background: #f0f4fe;">
  <div class="devRegister">
    <div class="devBAckButton"  style="padding-left:15px ;">
      <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
    </div>
     <div class="devRegister1">
          <!-- <div class="devImg">
              <img src="" alt="">
          </div> -->
        <div class="devForm" style="position: relative;">
          <div class="devAvatarImg">
            <img src="../../assets/LogIn team/admin add employee/Profile Image.png" alt="">
          </div>
          <form [formGroup]="onRegisterForm" (ngSubmit)="SignUp(onRegisterForm.value)" >
            <ion-grid>
              <ion-row  justify-content-center>
                <ion-col align-self-center>
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" color="dark" mode="md">FullName</ion-label>
                    <ion-input type="text"  
                      placeholder="Full Name" formControlName="FullName"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('FullName').hasError('required')  && 
                  (onRegisterForm.get('FullName').dirty || onRegisterForm.get('FullName').touched)">
                            *UserName is Required
                          </p>
                          <p class="errorMsg" *ngIf="onRegisterForm.get('FullName').hasError('minlength')  && 
                  (onRegisterForm.get('FullName').dirty || onRegisterForm.get('FullName').touched)">
                            *Name is minimum of 4 characters
                          </p>
                  
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Skills</ion-label>
                    <ion-input type="text" 
                      placeholder="Skills" formControlName="Skills"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Skills').hasError('required')  && 
                  (onRegisterForm.get('Skills').dirty || onRegisterForm.get('Skills').touched)">
                            *Skills are Required
                          </p>
                          <p class="errorMsg" *ngIf="onRegisterForm.get('Skills').hasError('minlength')  && 
                  (onRegisterForm.get('Skills').dirty || onRegisterForm.get('Skills').touched)">
                            *Skills is minimum of 4 characters
                          </p>
                 
    
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Phone</ion-label>
                    <ion-input type="number" 
                      placeholder="Phone" formControlName="Phone"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Phone').hasError('required')  && 
                  (onRegisterForm.get('Phone').dirty || onRegisterForm.get('Phone').touched)">
                            *Phone are Required
                          </p>
                          <p class="errorMsg" *ngIf="onRegisterForm.get('Phone').hasError('minlength')  && 
                  (onRegisterForm.get('Phone').dirty || onRegisterForm.get('Phone').touched)">
                            *Phone number is minimum of 11 Numbers
                          </p>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Email</ion-label>
                    <ion-input type="email"   
                      placeholder="email" formControlName="Email"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Email').hasError('required')  && 
                  (onRegisterForm.get('Email').dirty || onRegisterForm.get('Email').touched)">
                            *Email are Required
                          </p>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Joining Date</ion-label>
                    <!-- <ion-input type="text" 
                      placeholder="Joining Date" formControlName="Date"></ion-input> -->
                      <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2052-12-09" formControlName="Date"></ion-datetime>

                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Date').hasError('required')  && 
                  (onRegisterForm.get('Date').dirty || onRegisterForm.get('Date').touched)">
                            *Date is Required
                          </p>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Salary</ion-label>
                    <ion-input type="text" 
                      placeholder="Salary" formControlName="Salary"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Salary').hasError('required')  && 
                  (onRegisterForm.get('Salary').dirty || onRegisterForm.get('Salary').touched)">
                            *Salary is Required
                          </p>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Password</ion-label>
                    <ion-input type="Password"  
                      placeholder="Password" formControlName="Password"></ion-input>
                  </ion-item>
                  <p class="errorMsg" *ngIf="onRegisterForm.get('Password').hasError('required')  && 
                  (onRegisterForm.get('Password').dirty || onRegisterForm.get('Password').touched)">
                            *Password is Required
                          </p>
                 
                  <div class="devbuttons">
                    
                      <button  class="devBtn" type="submit" style="background-color: #0000;" >Create</button>

                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
     </div>
  </div>
 
</ion-content>
