
<ion-content >
  <div class="devImage" style="position: relative;">
    <img src="../../assets/before login.png">
  </div>
   <div class="devContent">
       <div class="welcomeText" style="color: white;">
         <h1>Welcome SIS daily reports</h1>
         <p>one place with the best job companies tech.Apply to all of them with a single profile and get in touch in hiring managers directly</p>
       </div>
       <div class="devButtons">
          <ion-button expand="block" color="favorite" (click)=" login()"><ion-icon name="people"></ion-icon>I'm Employee</ion-button>
          <ion-button expand="block" color="favorite" fill="outline" (click)=" SignUp()"><ion-icon name="briefcase"></ion-icon>I'm Employer</ion-button>
       </div>
   </div>

       
</ion-content>
