
<ion-content>
  
  <div class="devBAckButton" style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
  </div>

  <div class="devReportDetailMain">
  <div class="devreportContent">

    <h1>{{ dataHelper.leavesDetail.title}}</h1>
  <div class="devDescription">
    <h3>Description</h3>

    <p> {{ dataHelper.leavesDetail.description}}</p>
  </div>
  <div class="devFeedback">
    <h3>Feedback</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
    <div class="devreporttime">
      <ion-icon name="time-outline"></ion-icon>
      <p>{{ dataHelper.leavesDetail.timeStamp |  date : 'dd-MM-yyyy hh:mm a'}}</p>
    </div>
  </div>
</div>
</ion-content>
    <ion-footer>

    <ion-button expand="block" (click)="showAlert(dataHelper.leavesDetail)" color="dark" style="margin: 15px;"> delete Leave </ion-button>

    </ion-footer>



