
<ion-content>
  <div class="devmain">
  <div class="devBAckButton"  style="padding-left:15px ;">
    <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
  </div>

  <div class="devProfileData">
    <img src="../../assets/LogIn team/admin Leave forms/Ellipse 12.png" alt="">
    <h1>Jahanzaib Iqbal</h1>
    <p>Business Developer</p>
  </div>

  <div class="devProfileDetail">
    <div class="devEmail">
     <h3>Email</h3>
     <p>umairgg360@gmail.com</p>
    </div>
    <div class="devJoinigDate">
     <h3>Joining Date</h3>
     <p>dec,20,2020</p>
    </div>
    <div class="devPhone">
       <h3>Phone</h3>
       <p>923046467100</p>
    </div>
  </div>
</div>
<div class="devLogoutButton" (click)="logout()">
  <button  class="devBtn" type="submit" style="background-color: #0000;" >Logout</button>
</div>
</ion-content>
