
<ion-content style="--background: #f0f4fe;">
  <div class="devRegister">
    <div class="devBAckButton"  style="padding-left:15px ;">
      <img (click)="devBack()" src="../../assets/LogIn team/24/arrows/back.png" alt="">
    </div>
     <div class="devRegister1">
          <!-- <div class="devImg">
              <img src="" alt="">
          </div> -->
        <div class="devForm" style="position: relative;">
          <div class="devAvatarImg" (click)="updateImage()">
            <img [src]="getService.user?.profileImage || '../../assets/LogIn team/admin add employee/Profile Image.png'" alt="">
          </div>
          <form [formGroup]="onUpdateForm" (ngSubmit)="update(onUpdateForm.value)" >
            <ion-grid>
              <ion-row  justify-content-center>
                <ion-col align-self-center>
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">FullName</ion-label>
                    <ion-input type="text"  
                      placeholder="Full Name" formControlName="FullName" [(ngModel)]= "getService.user.FullName"></ion-input>
                  </ion-item>
                  
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Skills</ion-label>
                    <ion-input type="text" 
                      placeholder="Skills" formControlName="Skills" [(ngModel)]= "getService.user.Skills"></ion-input>
                  </ion-item>
                 
    
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Phone</ion-label>
                    <ion-input type="text" 
                      placeholder="Phone" formControlName="Phone" [(ngModel)]= "getService.user.Phone" ></ion-input>
                  </ion-item>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Email</ion-label>
                    <ion-input type="email"   
                      placeholder="email" formControlName="Email" [(ngModel)]= "getService.user.Email" disabled="true"></ion-input>
                  </ion-item>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Joining Date</ion-label>
                    <ion-input type="text" 
                      placeholder="Joining Date" formControlName="Date" [(ngModel)]= "getService.user.Date" disabled="true"></ion-input>
                  </ion-item>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Salary</ion-label>
                    <ion-input type="text" 
                      placeholder="Salary" formControlName="Salary" [(ngModel)]= "getService.user.Salary" disabled="true"></ion-input>
                  </ion-item>

                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="floating" class="required" mode="md">Password</ion-label>
                    <ion-input type="Password"  
                      placeholder="Password" formControlName="Password" [(ngModel)]= "getService.user.Password"  disabled="true"></ion-input>
                  </ion-item>
                 
                  <div class="devbuttons">
                    
                      <ion-button expand="block" color="dark" type="submit" [disabled]="!onUpdateForm.valid" *ngIf="!loading"   >Update</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
     </div>
  </div>
 
</ion-content>
