<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title >Contact
    </ion-title>
      <ion-icon slot="end"   name="search-outline"></ion-icon>
 
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="devMain">
 
  <div   class="repotdetail">
    <div *ngFor="let user of dataHelper.chats" (click)="gotoChat(dataHelper.allAdminEmployees[user.employeeKey])" class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>{{dataHelper.allAdminEmployees[user.employeeKey].FullName}}</h1>
        <p>{{user.lastMessage}}</p>
      </div>
    </div>
  </div>

</div>


</ion-content>

