<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title >Contact
    </ion-title>
      <ion-icon slot="end"   name="search-outline"></ion-icon>
 
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="devMain">
 
  <div   class="repotdetail">
    <div (click)="gotoChat()" class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
    <div class="devProfileCard">
      <div class="devProfileImg">
        <img src="../../assets/LogIn team/admin report detail/Ellipse 15.png" alt="">
      </div>
      <div class="devProfileName">
        <h1>Umair Aslam </h1>
        <p>i am comming today</p>
      </div>
    </div>
  </div>

</div>


</ion-content>

