ion-header{
   
    ion-toolbar{
        --background: #d2d3f2;
       display: flex;
        padding: 0 18px;
        
        ion-title{
            font-size: 27px;
            font-weight: 600;
        }
        ion-icon{
            font-size: 26px;
        }
    }
    
}



ion-content{
    --background: #d2d3f2;
    .devMain{
    border-radius: 55px 55px 0 0px;
    background: #e8e7f5;
    width: 100%;
    height: 100vh;
    ion-fab{
        margin-bottom: 15px;
        margin-right: 8px;
    }
    .repotdetail{
        margin: 0;
        margin-top: 10px;
         padding: 25px;
         border-radius: 10px;
         position: relative;
         padding-top: 40px;
         .devProfileCard {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding-top: 10px;
            .devProfileImg {
                width: 50px;
                img{
                    width: 100%;
                    max-width: 50px;
                }
            }
            .devProfileName {
                width: calc(100% - 50px);
                padding-left: 12px;
                color: black;
                h1{
                    margin: 0;
                    font-size: 17px;
                    font-weight: bold;
                }
                p{
                    margin: 0;
                }
            }
        }
      
      }

   
    }
}